#contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
}

.libro{

    border-style: solid;
    padding: 3px;
    width: 300px;
    display:flex;
    flex-direction: column;
    margin: 20px;
    

    
}

.foto{
    width: 100%;
    position: relative;
    top:0;
    left:0;
    object-fit: cover;
}

#fondo{
    width: 100%;
    top:0px;
    position:relative;
    
    
}

h3{
    display: none;
}

h2:hover{
    transform: scale(1.2);
    color: darkcyan;
}
.sombra{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    
}
.foto:hover {   
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    }

.foto:active {   
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    z-index: -1;
    transform: scale(1,-0.5) translate(20%,-50%) skewX(15deg) ;
}


#contenedor:active {
    display: flex;
    flex-direction: row-reverse;
}


p{
color:blue !important;
background-color:yellow;
}

@media screen and (max-width:500px) {
    h2,p,img,.libro,#contenedor{
        display: none ;
    
        
    }

 
 @media screen and (min-width:500px) {
        h3{
           display: block;
           color: aqua;
            
        } 

    
}
}


    


